<ion-view view-title="Inicio">
  <ion-content class="padding">
    <div class="centered-image-container">
      <img ng-src="/img/large-icon.png" />
    </div>
    <div class="button-bar">
      <a ui-sref="tab.dash" class="button button-stable button-large button-block icon-left ion-ios-list">
        Ver Resultados
      </a>
    </div>
    <div class="button-bar">
      <a ui-sref="tab.chats" class="button button-stable button-large button-block icon-left ion-ios-checkmark">
        Ver Ordenes
      </a>
    </div>
    <div class="button-bar">
      <a ui-sref="tab.dash" class="button button-stable button-large button-block reduced-font">Buscar examenes</a>
      <a ui-sref="tab.chats" class="button button-stable button-large button-block reduced-font">Nueva Orden</a>
    </div>
  </ion-content>
</ion-view>
