<ion-view view-title="Login">
  <ion-content class="padding">
    <div class="centered-image-container vertical-image">
      <img ng-src="/img/icon.png" />
    </div>
    <form name="loginForm" class="padding-top">
      <ion-list class="disable-user-behavior">
        <div class="list">
          <label class="item item-input">
            <span class="input-label" aria-label="Usuario">Usuario</span>
            <input type="text" placeholder="">
          </label>
          <label class="item item-input">
            <span class="input-label" aria-label="Pin">Pin</span>
            <input type="password" placeholder="">
          </label>
        </div>
        <div class="list padding-top">
          <a ui-sref="tab.home" class="button button-calm  button-block">Log in</a>
          <a href="#" class="button button-positive button-block button-clear">O crear una cuenta</a>
        </div>
      </ion-list>
    </form>
  </ion-content>
</ion-view>
