/* Empty. Add your own CSS if you like */

.centered-image-container {
  text-align: center;
  padding: 1em;
}

.centered-image-container img {
  width: 100%;
  height: auto;
}

.centered-image-container.vertical-image {
  height: 30%;
}

.centered-image-container.vertical-image img {
  width: auto;
  max-width: 45%;
  height: 100%;
}

.reduced-font {
  font-size: 1.2em;
}
